@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
ol,ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 23px;
}
.lh{
    line-height: 2;
}
span{
    color: #4E80EE;
}
header{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.heading>h1{
    font-weight: 600;
    font-size: 2.25rem;
}
.heading>p{
    margin-top: 15px;
    font-weight: 400;
    font-size: 1rem;
}
main{
    background-color: #F8FAFC;
    display: flex;
    justify-content: center;
}
.wrapper{
    width: 615px;
    margin: 60px 0px 60px 0px;
}
.question,hr{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 40px;
}